<center><img src='https://upload.wikimedia.org/wikipedia/commons/7/7b/Vista-multimedia.png'/></center>
<p>Apreciado usuario <b>{}</b>:</p>
<p>Nuestro servidor ha realizado la conversión del archivo de audio solicitado <i>{}</i> a formato <i>{}</i>.</p>
<p>Por favor, contacte con los servicios de administración del sistema si requiere asistencia adicional.</p>
<p>Cordial saludo de parte de <b>Dinamita Team</b> !</p>
